<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728747281803-rfjjrvchhb8uqdmq3a2u69frdd2pqvda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728747281803-rfjjrvchhb8uqdmq3a2u69frdd2pqvda</string>
	<key>API_KEY</key>
	<string>AIzaSyA4MwwRBZC-NyjjBBqKdHzpL4AocA5jtY4</string>
	<key>GCM_SENDER_ID</key>
	<string>728747281803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sampleappcoffeenotes</string>
	<key>PROJECT_ID</key>
	<string>coffeenotes-442f4</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeenotes-442f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728747281803:ios:770eed10ba9d667d71738e</string>
</dict>
</plist>